<form action="/cart"
      method="post">

        <button class="btn"
                type="submit">Add To Cart</button>
        <input type="text"
               hidden
               value="<%= product._id %>"
               name="productId">
</form>